apscheduler>=3.3.0,<4.0
aws-requests-auth>=0.4.3
sortedcontainers>=2.4.0
boto3>=1.19.7
cffi>=1.15.0
croniter>=1.0.15
elasticsearch==7.0.0
envparse>=0.2.0
exotel>=0.1.5
jira>=3.0.1
jsonschema>=4.1.2
prison>=0.2.1
py-zabbix==1.1.7
PyStaticConfiguration>=0.10.5
python-dateutil>=2.8.2
PyYAML>=6.0
requests>=2.26.0
stomp.py>=7.0.0
texttable>=1.6.4
twilio>=6.0.0,<6.58
tzlocal==2.1