PyStaticConfiguration==0.9.0
PyYAML==3.11
argparse==1.3.0
aws-requests-auth==0.2.5
blist==1.3.6
boto==2.34.0
botocore==1.4.5
configparser==3.3.0.post2
croniter==0.3.8
elasticsearch==1.3.0
jira==0.32
jsonschema==2.2.0
mock==1.0.0
oauthlib==0.7.2
python-dateutil==2.4.0
requests==2.5.1
requests-oauthlib==0.4.2
simplejson==3.3.0
six==1.9.0
supervisor==3.1.2
tlslite==0.4.8
unittest2==0.8.0
urllib3==1.8.2
wsgiref==0.1.2
